
/* Estilos para o cabeçalho (header) */
.section2 .container {
  display: flex;
  align-items: center;
  width: 100%;
  height: max-content;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
  
  }
  .section2 .container .items {
  margin: 10px;
  width: 200px;
  height: 300px;
  background-color: white;
  border: 2.5px solid black;
  border-radius: 12px;
  }
  .section2 .container .items .name {
  text-align: center;
  background-color: #ff66b2;
  height: 25px;
  padding-top: 4px;
  color: white;
  margin: 0;
  }
  .section2 .container .items .price {
  float: left;
  padding-left: 10px;
  display: block;
  width: 100%;
  color: rgb(255, 0, 0);
  font-weight: 650;
  }
  .section2 .container .items .info {
  padding-left: 10px;
  color: rgb(0, 0, 0);
  }
  .section2 .container .items .img img {
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  border-radius: 12px;
  transition-duration: 5s;
  }
  .section2 .container .items .img {
  overflow: hidden;
  margin: 0;
  }


/* Estilos para o cabeçalho (header) */
header {
  background-color: #993366;
  /* Cor roxa */
  color: #fff;
  padding: 1em;
  text-align: center;
}

nav {
  background-color: #ff66b2;
  /* Cor rosa */
  padding: 0.5em;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 1em;
}




/* Estilos para o rodapé (footer) */
footer {
  background-color: #993366;
  /* Cor roxa */
  color: #fff;
  padding: 1em;
  text-align: center;
}
